
/* original styling below, new styling above */

.menu {
    height: 50px;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    border-bottom: 5px solid rgb(65, 7, 119);
    border-top: 5px solid rgb(65, 7, 119);
    background-color: #0bdbeee1;
  }

h1 {
    text-align: center;
    line-height: 25px;
  
  }

#fistimage {
  width: auto;
  height: auto;
  max-width: 30%;
  max-height: 55%;
  margin: auto;
}

.placeholder1 {
  width: auto;
  height: auto;
  max-width: 30%;
  max-height: 55%;
  margin: auto;
}

footer {
  list-style: none;
  text-align: center;
}

ul, li {
  list-style:none;
  list-style-type:none;
}

.aboutme {
  width: 300px;
  bottom border: 15px solid rgba(9, 3, 45, 0.475);
  padding: 50px;
  margin: 20px;
}





