*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #d9dcd6;
}

header {
  padding: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;  
}

header h1 {
  display: inline-block;
  font-size: 48px;
}

#firstimage {
  background-image: url();
}


/* original styling below, new styling above */

header {
    height: 50px;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    border-bottom: 5px solid rgb(65, 7, 119);
    border-top: 5px solid rgb(65, 7, 119);
    background-color: #0bdbeee1;
  }

h1 {
    text-align: center;
    line-height: 25px;
  
  }

#photo {
    margin-bottom: 0;
    margin-top: 15px;
    margin-left: 84%;
    margin-right: 0px;
    padding: 10px;
    background-color: grey;
    border: 5px solid rgb(65, 7, 119);
}

.placeholder1 {
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    float: left;
    width: 25%;

}

section2 {
    margin-top: 15px;
    border-style: none;
    border-width: 1px;
    padding: 10px;
    float: left;
    width: 25%;
}

  