header {
    height: 100px;
    width: 100%;
    /* Sets border to bottom only */
    border-bottom: 5px solid rgb(65, 7, 119);
    border-top: 5px solid rgb(65, 7, 119);
    background-color: #0bdbeee1;
  }

h1 {
    text-align: center;
    line-height: 100px;
  }

  