header {
    height: 50px;
    width: 100%;
    /* Sets border to bottom only */
    border-bottom: 5px solid rgb(65, 7, 119);
    border-top: 5px solid rgb(65, 7, 119);
    background-color: #0bdbeee1;
  }

h1 {
    text-align: center;
    line-height: 25px;
  }

#photo {
    margin-bottom: 0;
    margin-top: 15px;
    margin-left: 85%;
    margin-right: 0;
    border: 5px solid black;


}

  